{{extend 'layout.html'}}
<body style="background-color: #f9ecec;">
{{response.files.append(URL('static', 'css/main-layout.css'))}}

<button id="Back" onclick="location.href='{{=URL('household.html')}}'" type="button" class="btn btn-primary">Back</button>
<!--if manager  -->
<h2> you are the manager of this household</h2>
<div class="col-sm-6">
      <div id="home-panel" class="panel panel-default">
          <div class="panel-body">
              <h1>Bro House</h1>
              <i class="fa fa-home" aria-hidden="true"></i>
              <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
              <br>
              <div class="col-sm-6">
                  <img alt="Cinque Terre" class="img-responsive img-circle" width="304" height="436" src=
                    "http://clipartix.com/wp-content/uploads/2016/05/Clip-art-stick-figure-clipart-image.jpeg">
              </div>
              <div class="col-sm-6">
                  <select id="select_zone">
                    <option value ="">Manager</option>
                    <option value ="">Housemate</option>
                  </select>
                  <form>
                      <br>
                      <input type="radio" name="leaving" value="email" checked> I am leaving this household
                      <br>
                      <br>
                      <input type="change" class="btn btn-info" value="Change Manager">
                  </form>
              </div>
          </div>
    </div>
</div>


<div class="col-sm-6">
      <div id="home-panel" class="panel panel-default">
          <div class="panel-body">
              <h1>Control Panel</h1>
              <i class="fa fa-home" aria-hidden="true"></i>
              <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
              <br>
              <form>
                  <input type="search" name="googlesearch" placeholder="Search a existing user"> <br>
                  <br>
                  <input type="radio" name="emailinvite" value="email" checked> Email Invite
                  <input type="email" name="emailname" placeholder="Place email here!"> <br>
                  <br>
                  <input type="submit" class="btn btn-info" value="Add member">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </form>
          </div>
    </div>
</div>