{{extend 'layout.html'}}
{{response.files.append(URL('static', 'css/main-layout.css'))}}
<body style="background-color: #f9ecec;">


<button id="Back" onclick="location.href='{{=URL('household.html')}}'" type="button" class="btn btn-primary">Back</button>

<br>
<br>

<div class="col-sm-6">
      <div id="home-panel" class="panel panel-default">
          <div class="panel-body">
              <h1>Change House</h1>
              <h2> current house: {{=house_nickname}}</h2>
              <i class="fa fa-home" aria-hidden="true"></i>
              <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
              <br>
                    {{=find_house}}
          </div>
    </div>
</div>
<!--<div class="col-sm-6">
      <div id="home-panel" class="panel panel-default">
          <div class="panel-body">
              <h1>Change House</h1>
              <i class="fa fa-home" aria-hidden="true"></i>
              <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
              <br>
              <form>
                  <input type="search" name="housesearch" placeholder="House Name"> <br>
                  <br>
                  <br>
                  <input type="Find" class="btn btn-info" value="Find house">
                  <input type="Create" class="btn btn-info" value="Create house">
              </form>
          </div>
    </div>
</div>-->
<div class="col-sm-6">
      <div id="home-panel" class="panel panel-default">
          <div class="panel-body">
              <h1>Add Member</h1>
              <i class="fa fa-home" aria-hidden="true"></i>
              <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
              <br>
                {{=add_user}}
                {{=invite_user}}
          </div>
    </div>
</div>
