{{extend 'layout.html'}}

<div class="breadcrumb">This is a callout. We built it custom for our docs so our messages to you stand out. It has three variants via modifier classes.</div>

<nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="false">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="false">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>


  {{=form}}