{{extend 'layout.html'}}
<body style="background-color: #f9ecec;">
{{response.files.append(URL('static', 'css/explore.css'))}}

{{block head}}

<!-- ... [OTHER INCLUDES] ... -->

<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type='text/javascript' src="{{=URL('static', 'unitegallery/dist/js/unitegallery.js')}}"></script>

<link rel='stylesheet' href="{{=URL('static', 'unitegallery/dist/css/unite-gallery.css')}}"/>
<script type='text/javascript'
        src="{{=URL('static', 'unitegallery/dist/themes/tilesgrid/ug-theme-tilesgrid.js')}}"></script>

<link rel='stylesheet' href="{{=URL('static', 'unitegallery/dist/themes/default/ug-theme-default.css')}}"/>
{{end}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script type='text/javascript' src='https://unpkg.com/axios/dist/axios.min.js'></script>

<script>
    var products_url = "{{=URL('default', 'get_products')}}";
    var houses_url = "{{=URL('default', 'get_houses')}}";
    var communal_products_url = "{{=URL('default', 'get_communal_products')}}";
    var find_by_ingredients_url = "{{=URL('default', 'findRecipesByIngredients')}}";
</script>


<br>
<br>
<div id="home-panel" class="panel panel-default">
    <div class="panel-body">

        <span>
        <h1>Explore &nbsp; &nbsp;</h1>
        
        <div id="vue-div">
            <ul>
                <li><input v-on:click="get_item_names" type="radio" id="myIngredients" name="Ingredients">My ingredients</li>
                <li><input type="radio" id="allIngredients" name="Ingredients">Include Communal Ingredients</li>
            </ul>
            <br>
            </span>

            <div>
                <span class="input-group-btn">
                    <button v-on:click="find_by_ingredients2" class="btn btn-primary" type="button">Search</button>
                    <button id="filter-button" type="button" class="btn btn-default" data-toggle="collapse"
                            data-target="#collapseFilters">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                    <input v-model="product_search" type="text" class="form-control" placeholder="Search"
                        aria-describedby="basic-addon1"/> 
                        
                
                <button class="btn btn-primary" type="button">Randomize!</button>
                </span>
            </div>

            <br>
            <div class="collapse" id="collapseFilters">
                <div class="well well-sm">
                    <ul>
                        <li><input type="checkbox" id="veganoption" name="Vegan">Vegan</li>
                        <li><input type="checkbox" id="vegetarionoption" name="Vegetarian">Vegetarian</li>
                    </ul>
                    <label for="cookTimes">Cook Time:</label>
                        <select id="cookTimes">
                            <option value="0.5">30 Minutes</option>
                            <option value="1.0">1 Hour</option>
                            <option value="1.5">1.5 Hours</option>
                            <option value="2.0">2 Hours</option>
                        </select>
                </div>
            </div>
        
            <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

            <br>
                        
                <div id="gallery">  
                    <!----> 
                    <img v-for="item in recipes" class="modal-data" 
                        v-bind:alt="item.title" 
                        v-bind:src="item.image"
                        v-bind:data-image="item.image"
                        v-bind:data-description="item.title">
                       
                <!--
                {{for item in results['recipes']:}}
                    <img class="modal-data" alt="{{=item['title']}}" src="{{=item['image']}}"
                         data-image="{{=item['image']}}"
                         data-description="{{=item['instructions']}}">
                {{pass}}
                --> 
                </div>
            </div>
                <button class="btn btn-primary" type="button">Load More
                </button>
        


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>

                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <!-- Ctrl+F search "groceries" on "unitegallery.js" to find code that is inserted here -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>


<script type="text/javascript">
    $('.item_thumb').on( function(e){
        var elem = $(e.relatedTarget);
        console.log($(this));
        console.log(elem);
        console.log("done");
    })
</script>

<script type="text/javascript">
    console.log("preparing uniteGallery Grid");
    var api;
    jQuery(document).ready(function () {
        api = jQuery("#gallery").unitegallery({
            gallery_theme: "tilesgrid",
            tiles_enable_transition: "true",
            tile_enable_shadow: "true",
            tiles_enclude_padding: "true",
            theme_enable_preloader: "false"
        });
    });
</script>



<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function (e) {
        //elements list contains title of all images.
        var i = 0;
        var elements = $('img.ug-thumb-image.ug-trans-enabled').map(function () {
            $(this).attr('id', i);
            i++;
            return $(this).attr('alt');
        }).get();
        console.log(elements);
        console.log($(e.relatedTarget).find('img.ug-thumb-image.ug-trans-enabled'));

        var modal = $(this);
        modal.find('.modal-title').text(elements[
                $(e.relatedTarget)
                        .find('img.ug-thumb-image.ug-trans-enabled')
                        .attr('id')
                ]);
        modal.find('.modal-body').html(
                $(e.relatedTarget)
                        .find('img.ug-thumb-image.ug-trans-enabled')
                        .data('description'));
        console.log($(e.relatedTarget)
                .find('img.ug-thumb-image.ug-trans-enabled')
                .attr('content'));

    })
</script>

