{{extend 'layout.html'}}
<body style="background-color: #f9ecec;">
{{response.files.append(URL('static', 'css/main-layout.css'))}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_house_url = "{{=URL('default', 'add_house')}}";
    var products_url = "{{=URL('default', 'get_products')}}";
    var houses_url = "{{=URL('default', 'get_houses')}}";
</script>

<h1>You are not in a household yet.</h1>
<h1>Please join a household or create your own household</h1>

<br>
<br>
<div class="col-sm-6">
    <div id="house-panel" class="panel panel-default">
        <div class="panel-body">
            <h1>Find House</h1>
            <i class="fa fa-home" aria-hidden="true"></i>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
            <br>
                {{=search_form}}
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div id="house-panel" class="panel panel-default">
        <div class="panel-body">
            <h1>Create House</h1>
            <i class="fa fa-home" aria-hidden="true"></i>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
            <br>
            <div id="vue-div" class="display:none">
                <div id="house-panel-add-house">
                    <form action="#" v-on:submit="add_house" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group" id="no_table_add_house__row">
                            <div>
                                <input class="form-control string" id="no_table_add_nickname_content" v-model="form_nickname"
                                    placeholder="Add nickname" type="text"/>
                                <br>
                                <input class="btn btn-primary" type="submit" onclick="location.href='http://localhost:8000/{{=request.application}}/default/household'">
                            </div>
                        </div>

                    </form>
                </div>
                <!--<div class="button_bar">
                <button v-if="!is_house_updating" class="btn btn-danger" v-on:click="upload_house_button()">Add house</button>
                <button v-if="is_house_updating" class="btn btn-danger btn-sm" v-on:click="upload_house_button()">Cancel</button>
                </div>-->
            </div>
            <!--<form>
                <input type="search" name="googlesearch" placeholder="Search a existing user"> <br>
                <br>
                <input type="radio" name="emailinvite" value="email" checked> Email Invite
                <input type="email" name="emailname" placeholder="Place email here!"> <br>
                <br>
                <input type="submit" class="btn btn-info" value="Add member">
            </form>-->
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
