{{extend 'layout.html'}}
<body style="background-color: #f9ecec;">

<head>

    <!-- ... [OTHER INCLUDES] ... -->

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type='text/javascript' src="{{=URL('static', 'unitegallery/dist/js/unitegallery.min.js')}}"></script>

    <link rel='stylesheet' href="{{=URL('static', 'unitegallery/dist/css/unite-gallery.css')}}"/>
    <script type='text/javascript'
            src="{{=URL('static', 'unitegallery/dist/themes/carousel/ug-theme-carousel.js')}}"></script>

    <link rel='stylesheet' href="{{=URL('static', 'unitegallery/dist/themes/default/ug-theme-default.css')}}"/>

    <style>


        .caption {
            width: 100%;
            bottom: .3rem;
            position: absolute;
            background: #000;
            background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
            background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
            background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
            background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
            background-position: bottom left,
            bottom right,
            top right,
            top left;
            background-size: 90% 90%;
            background-repeat: no-repeat;
        }

        .thumbnail {
            border: 0 none;
            box-shadow: none;
            margin: 0;
            padding: 0;
        }

        .caption h4 {
            color: #fff;
            -webkit-font-smoothing: antialiased;
        }

        #communal-panel {
            padding: 10px;
            background: #fef0db;
        }

        #house-panel {
            padding: 10px;
            background: #fef0db;
        }

    </style>

</head>


<h1> Household Page </h1>
<i class="fa fa-home" aria-hidden="true"></i>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>

<script>
    var products_url = "{{=URL('default', 'get_products')}}";
    var add_house_url = "{{=URL('default', 'add_house')}}";
    var houses_url = "{{=URL('default', 'get_houses')}}";
    var communal_products_url = "{{=URL('default', 'get_communal_products')}}";
</script>

<br>
<section id="content">
    <div id="container">

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div id="home-panel" class="panel panel-default">
                    <div class="panel-body">
                        <h1>{{=housename}}</h1>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
                        <br>
                        {{if manager:}}
                        <img alt="Cinque Terre" class="img-responsive img-circle" width="304" height="436" src=
                                "{{=URL('default', 'download', args=manager_pic.prof_pic)}}">
                        {{else:}}
                        <img alt="Cinque Terre" class="img-responsive img-circle" width="304" height="436" src=
                                "http://clipartix.com/wp-content/uploads/2016/05/Clip-art-stick-figure-clipart-image.jpeg">
                        {{pass}}
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div id="home-panel" class="panel panel-default">
                    <div class="panel-body">
                        <h1>Members</h1>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div align="right">
                                    <button id="control-panel" onclick="location.href='{{=URL('control_panel.html')}}'" type="button"
                                        class="btn btn-info ">Control Panel
                                    </button>
                        </div>
                        <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
                        <br>
                        {{if not members:}}
                        <h2>No other members in household</h2>
                        {{else:}}
                        <div id="gallery">
                            <!-- -->
                            {{for member in members:}}
                            <img alt=""
                                 src="{{=URL('default','download', args=member.prof_pic)}}"
                                 data-image=""
                                 data-description="">
                            {{pass}}
                            <!-- -->
                        </div>
                        {{pass}}
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>


        <br>
        <div id="home-panel" class="panel panel-default">
            <div class="panel-body">

                <h1>Communal Items</h1>
                <div align="right">

                    <input type="search" name="googlesearch" placeholder="Search...">


                </div>

                <div align="center">
                    <select id="select_zone">
                        <option value="">Sort by</option>
                        <option value="">Option1</option>
                        <option value="">Option2</option>
                        <option value="">Option3</option>
                        <option value="">Option4</option>
                    </select>
                </div>

                <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
                <br>

                <div id="photos" class="container">
                    <div id="vue-div" class="display:none">
                        <div v-if="communal_products.length == 0">
                            <h2>No ingredients shared :(</h2>
                        </div>
                        <div v-for="comm_product in communal_products">
                            <!--<p>house id: ${home.houseId}</p>
                            <p>nick-name: ${home.nickname}</p>-->
                            <div class="col-md-3 prod_image">
                                <img id="photos" v-bind:src="comm_product" width="100%" class="product_image"/>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="location-panel">
            <button type="button" class="btn btn-danger" onclick="location.href='http://localhost:8000/groceriesapi/default/create_location.html'">
                Add Location
            </button>
        </div>
<!-- End of center content-->
    </div>
</section>

<script type="text/javascript">
    var api;
    jQuery(document).ready(function () {
        api = jQuery("#gallery").unitegallery({
            gallery_theme: "carousel",
            tiles_enable_transition: "true",
            tile_enable_shadow: "true",
            tiles_enclude_padding: "true",
            theme_enable_preloader: "true"
        });
    });
</script>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

