{{extend 'layout.html'}}

        {{=data}}
        <h2> Don't understand the above JSON?</h2>
        <a href="https://firebase.google.com/docs/cloud-messaging/http-server-ref#interpret-downstream">
            <h2>Click here</h2>
        </a>