{{extend 'layout.html'}}
<h1> Profile Page </h1>
<body style="background-color: #f9ecec;">

<style>


    .caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-position:
            bottom left,
            bottom right,
            top right,
            top left;
        background-size: 90% 90%;
        background-repeat: no-repeat;
    }

    .thumbnail {
        border: 0 none;
        box-shadow: none;
        margin:0;
        padding:0;
    }

    .caption h4 {
        color: #fff;
        -webkit-font-smoothing: antialiased;
    }

    #house-panel{
        padding: 10px;
        background: #fef0db;
    }

</style>

<br>

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" ></script>
<script>



    var dietrestrictions_url = "{{=URL('api', 'get_dietrestrictions')}}";
    var add_dietrestriction_url = "{{=URL('api', 'add_dietrestriction', user_signature=True)}}";
    var del_dietrestriction_url = "{{=URL('api', 'del_dietrestriction', user_signature=True)}}";
    var edit_dietrestriction_url = "{{=URL('api', 'edit_dietrestriction', user_signature=True)}}";

    var dislikedfoods_url = "{{=URL('api', 'get_dislikedfoods')}}";
    var add_dislikedfood_url = "{{=URL('api', 'add_dislikedfood', user_signature=True)}}";
    var del_dislikedfood_url = "{{=URL('api', 'del_dislikedfood', user_signature=True)}}";
    var edit_dislikedfood_url = "{{=URL('api', 'edit_dislikedfood', user_signature=True)}}";

    var allergies_url = "{{=URL('api', 'get_allergies')}}";
    var add_allergie_url = "{{=URL('api', 'add_allergie', user_signature=True)}}";
    var del_allergie_url = "{{=URL('api', 'del_allergie', user_signature=True)}}";
    var edit_allergie_url = "{{=URL('api', 'edit_allergie', user_signature=True)}}";
</script>
{{end}}

<div id="vue-div" class="display:none">
<div id="home-panel" class="panel panel-default">
  <div class="panel-body">

<h1>About
    <div align="right">
       <button
         onclick="location.href='{{=URL('edit.html')}}'" class="btn btn-primary"/>Edit
    </div>
</h1>
      <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

    <div id="photos" class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 align="center"> name </h3>
                <div class="thumbnail text-center">
                    <img alt="Cinque Terre" class="img-responsive img-circle" width="304" height="436" src=
                    "{{=URL('default', 'download', args=profile_pic.prof_pic)}}">
                </div>
            </div>




            <div style="background:lightgrey; padding:0px; border: black 1px solid" class="col-md-3">
            <div id="home-panel" class="panel panel-default">

                <div class="panel-body">
                <h3 align="center">Allergies</h3>
        <div class="button_bar">
            <button v-if="!is_adding_allergie" class="btn btn-danger btn-sm" v-on:click="add_allergie_button()" v-bind:class="{'disabled': !logged_in}">
            Add Allergie
            </button>
            <button v-if="is_adding_allergie" class="btn btn-warning btn-sm" v-on:click="add_allergie_button()">
            Cancel
            </button>
        </div>
        <div v-if="is_adding_allergie" id="add_allergie_div">
                    <div>
                        <textarea class="allergie" id="no_table_allergie" v-model="text_allergie" placeholder=""></textarea>
                    </div>


            <div class="button_submit">
            <button class="btn btn-danger btn-sm" v-on:click="add_allergie()" v-bind:class="{'disabled': !logged_in}">
            Submit
            </button>
            </div>
        </div>

        <div class="allergie_list">
            <div v-for="allergie in allergies" class="allergie">
                <div class="text-left">
                   <br>
                   <p>${allergie.allergie_content}</p>

                    <p>Created on: ${allergie.created_on}</p>
                    <div
                            v-if="allergie.created_on != allergie.updated_on" >
                            <p>Updated on: ${allergie.updated_on}</p>
                    </div>





                    <button class="btn btn-danger btn-sm" v-on:click="edit_allergie_button(allergie.id)" >Edit</button>

                            <button
                         v-if="editing_allergier(allergie.id)" class="btn btn-danger btn-sm" v-on:click="edit_allergie()" >submit</button>

                    <button  v-if="editing_allergier(allergie.id)" class="btn btn-danger btn-sm"
                           v-on:click="delete_allergie(allergie.id)">delete</button>

                    <br>

                    <div v-if="editing_allergier(allergie.id)">
                        <div>
                        <textarea class="allergie" id="no_table_allergie" v-model="edited_allergie" placeholder=""></textarea>
                        </div>



                    </div>


                </div>
            </div>
        </div>
</div>
                </div>
            </div>


            <div style="background:lightgrey; padding:0px; border: black 1px solid" class="col-md-3">
<div id="home-panel" class="panel panel-default">

    <div class="panel-body">
    <h3 align="center" >Diet Restrictions</h3>

                <div class="button_bar">
                    <button v-if="!is_adding_dietrestriction" class="btn btn-danger btn-sm" v-on:click="add_dietrestriction_button()" v-bind:class="{'disabled': !logged_in}">
                        Add Diet Restriction
                    </button>
                    <button v-if="is_adding_dietrestriction" class="btn btn-warning btn-sm" v-on:click="add_dietrestriction_button()">
                        Cancel
                    </button>
                </div>
                <div v-if="is_adding_dietrestriction" id="add_dietrestriction_div">
                    <div>
                        <textarea class="dietrestriction" id="no_table_dietrestriction" v-model="text_dietrestriction" placeholder=""></textarea>
                    </div>


                    <div class="button_submit">
                        <button class="btn btn-danger btn-sm" v-on:click="add_dietrestriction()" v-bind:class="{'disabled': !logged_in}">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="dietrestriction_list">
                    <div v-for="dietrestriction in dietrestrictions" class="dietrestriction">
                        <div class="text-left">
                            <br>
                            <p>${dietrestriction.dietrestriction_content}</p>

                            <p>Created on: ${dietrestriction.created_on}</p>
                            <div
                                    v-if="dietrestriction.created_on != dietrestriction.updated_on" >
                                <p>Updated on: ${dietrestriction.updated_on}</p>
                            </div>





                            <button class="btn btn-danger btn-sm" v-on:click="edit_dietrestriction_button(dietrestriction.id)" >Edit</button>

                            <button
                                    v-if="editing_dietrestrictionr(dietrestriction.id)" class="btn btn-danger btn-sm" v-on:click="edit_dietrestriction()" >submit</button>

                            <button  v-if="editing_dietrestrictionr(dietrestriction.id)" class="btn btn-danger btn-sm"
                                     v-on:click="delete_dietrestriction(dietrestriction.id)">delete</button>

                            <br>

                            <div v-if="editing_dietrestrictionr(dietrestriction.id)">
                                <div>
                                    <textarea class="dietrestriction" id="no_table_dietrestriction" v-model="edited_dietrestriction" placeholder=""></textarea>
                                </div>



                            </div>


                        </div>
                    </div>
                </div>
</div>
</div>





            </div>

            <div style="background:lightgrey; padding:0px; border: black 1px solid" class="col-md-3">

                <div id="home-panel" class="panel panel-default">
                <div class="panel-body">
                <h3 align="center">Disliked Foods</h3>

                <div class="button_bar">
                    <button v-if="!is_adding_dislikedfood" class="btn btn-danger btn-sm" v-on:click="add_dislikedfood_button()" v-bind:class="{'disabled': !logged_in}">
                        Add Disliked Food
                    </button>
                    <button v-if="is_adding_dislikedfood" class="btn btn-warning btn-sm" v-on:click="add_dislikedfood_button()">
                        Cancel
                    </button>
                </div>
                <div v-if="is_adding_dislikedfood" id="add_dislikedfood_div">
                    <div>
                        <textarea class="dislikedfood" id="no_table_dislikedfood" v-model="text_dislikedfood" placeholder=""></textarea>
                    </div>


                    <div class="button_submit">
                        <button class="btn btn-danger btn-sm" v-on:click="add_dislikedfood()" v-bind:class="{'disabled': !logged_in}">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="dislikedfood_list">
                    <div v-for="dislikedfood in dislikedfoods" class="dislikedfood">
                        <div class="text-left">
                            <br>
                            <p>${dislikedfood.dislikedfood_content}</p>

                            <p>Created on: ${dislikedfood.created_on}</p>
                            <div
                                    v-if="dislikedfood.created_on != dislikedfood.updated_on" >
                                <p>Updated on: ${dislikedfood.updated_on}</p>
                            </div>





                            <button class="btn btn-danger btn-sm" v-on:click="edit_dislikedfood_button(dislikedfood.id)" >Edit</button>

                            <button
                                    v-if="editing_dislikedfoodr(dislikedfood.id)" class="btn btn-danger btn-sm" v-on:click="edit_dislikedfood()" >submit</button>

                            <button  v-if="editing_dislikedfoodr(dislikedfood.id)" class="btn btn-danger btn-sm"
                                     v-on:click="delete_dislikedfood(dislikedfood.id)">delete</button>

                            <br>

                            <div v-if="editing_dislikedfoodr(dislikedfood.id)">
                                <div>
                                    <textarea class="dislikedfood" id="no_table_dislikedfood" v-model="edited_dislikedfood" placeholder=""></textarea>
                                </div>



                            </div>


                        </div>
                    </div>
                </div>
</div>
</div>





            </div>
        </div>
    </div>
  </div>
</div>

<br>

<h1>Favorite Recipes</h1>
      <br>
      <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
      <br>

    <div id="photos" class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                    <div class="caption">
                        <h4>col 1</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "https://lh3.googleusercontent.com/nDv0lt7d78CglFD3JHrRlyvxGniFuED2Jv3FYqb0huz2Xlewo3SB0p99s2nZOxXMFoLzAsBylKmH2zasJOPC=s320-c-e365">

                    <div class="caption">
                        <h4>col 2</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                    <div class="caption">
                        <h4>col 3</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                    <div class="caption">
                        <h4>col 4</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div></div>

<script src="{{=URL('static', 'js/default_index_metrics.js')}}"></script>
