{{extend 'layout.html'}}

<!-- Displays "Cancel", "Edit", and "Back" Buttons for editing an already uploaded item-->
<div class="button_list">
{{for b in button_list:}}
    <div class="top_button">{{=b}}</div>
{{pass}}


{{if form_type == 'view':}}
    <h1>{{=curr_item.itemTable.itemName}}</h1>
    <h5>Remaining: {{=curr_item.itemTable.numRemaining}}</h5>
    <h5>{{if(curr_item.itemTable.communal):}}Communal {{else:}} Not Communal{{pass}}</h5>
    <img class="col-md-3" src='{{=URL('default', 'download', args=curr_item.itemTable.picture)}}'/>
    <br>
    <br>
{{else:}}
<!-- This form gets displayed when clicking "Edit" -->
{{=form.custom.begin}}
    <div class="input-group col-md-3">
        <span class="input-group-addon"> Name</span>
            {{=form.custom.widget.Name}}
    </div>
    <div class="input-group col-md-3">
        <span class="input-group-addon"> Location </span>
            {{=form.custom.widget.Location}}
    </div>
    <div class="input-group">
        <span class="input-group-addon"> Communal </span>
            {{=form.custom.widget.Communal}}
    </div>
    <div class="input-group">
        <span class="input-group-addon"> Remaining </span>
            {{=form.custom.widget.Remaining}}
    </div>
    <br>
    <div class="input-group col-md-3">
        <span class="input-group-addon"> Picture </span>
            {{=form.custom.widget.Picture}}
    </div>
{{if form_type == 'edit':}}
    <span>
        Current File:
        <br>
        <img class="col-sm-2" src='{{=URL('default', 'download', args=curr_item.itemTable.picture)}}'/>
        <br>
    </span>
{{else:}}
{{pass}}

{{=form.custom.submit}}
{{=form.custom.end}}
{{pass}}

</div>