{{extend 'layout.html'}}

<body style="background-color: #f9ecec;">

<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{response.files.append(URL('static', 'css/main-layout.css'))}}

<script>
    var products_url = "{{=URL('default', 'get_products')}}";
    var add_house_url = "{{=URL('default', 'add_house')}}";
    var houses_url = "{{=URL('default', 'get_houses')}}";
    var communal_products_url = "{{=URL('default', 'get_communal_products')}}";
</script>


<br>
<br>
<div id="home-panel" class="panel panel-default">
    <div class="panel-body">

        <h1>Home &nbsp; &nbsp; </h1>
        <div class="upload_button">
            <button type="button" class="btn btn-danger"
                    onclick="location.href='http://localhost:8000/{{=request.application}}/default/upload_management'">
                Add Item
            </button>
        </div>
        <br>
        <h4>&nbsp; My Items</h4>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>
        <br>

        <div id="photos" class="container">
            <div class="row">
                <div class="main_content">
                    <div id="vue-div" class="display:none">
                        <br>
                        <br>
                        <div v-for="product in products">
                            <div class="col-md-3 prod_image">
                                <img v-bind:id="product.id" v-bind:src="product.image_url" width="100%"
                                     class="item_thumb"
                                     v-bind:data-item_name="product.itemName"
                                     v-bind:data-num_remaining="product.numRemaining"
                                     v-bind:data-communal="product.communal"
                                     v-bind:onclick="product.edit_url" style="cursor: pointer"/>
                            </div>
                        </div>
                        <div v-if="products.length == 0">
                            <h4> You Don't Have Any Items...</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<script type="text/javascript">
    $('.item_thumb').on( function(e){
        var elem = $(e.relatedTarget);
        console.log($(this));
        console.log(elem);
        console.log("done");
    })
</script>

