.input-group{
    position:relative;
}


#search-icon{
    postion:absolute;
    padding: 10px;
    pointer-events: none;
}

.input-group .glyphicon{
    padding-top:10px;
}

.input-group input{
    padding-left:30px;
}

.img {
    position: absolute;
    width: 100%;
    max-width: 100%;
    float: left;
    overflow:hidden;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.ug-gallery-wrapper .ug-lightbox{
    display:none;
}