.header-bar {
    background-color: #0e90d2;
}

.upload_button {
    float: right;
}

#photos {
    padding-top: 10px;
}

.caption {
    width: 100%;
    bottom: .3rem;
    position: absolute;
    background: #000;
    background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: bottom left,
    bottom right,
    top right,
    top left;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.caption h4 {
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

#home-panel {
    padding: 10px;
    background: ghostwhite;
}

.panel {
    background: #fef0db;
}
