<!-- localhost:8000/groceriesapi/groceriesapi/login

Below only displays if user is logged in. If user is not logged in it runs

    localhost:8000/groceriesapi/default/user/login

-->

{{ extend 'layout.html'}}
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
<h1>Welcome, {{=name}}</h1>

<script type="text/javascript">
	Android.setParams("{{=token}}","{{=active}}","{{=name}}");
</script>